.pull-right.well= link_to 'New Match', new_match_path, class: 'btn btn-success'
%h1 Recent matches

= render partial: 'table', object: @recent

%h1 Listing matches

= render partial: 'table', object: @matches
